[submodule "thirdparty/gothic3sdk"]
	path = thirdparty/gothic3sdk
	url = https://github.com/Georgeto/gothic3sdk.git
[submodule "references/jackydima-gothic3sdk"]
	path = references/jackydima-gothic3sdk
	url = https://github.com/Jackydima/gothic3sdk.git
